Salut <%= @user.email %> et bienvenue chez Catysfaction !
==========================================================

Tu t'es inscrit sur <%= @url %> en utilisant l'e-mail suivant : <%= @user.email %>.

Pour accéder à ton espace client, connecte-toi via : <a href="<%= @signin_url %>">Catysfaction/signin</a>.

À très vite sur <%= @url %> !